<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinctor.vcharts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="480"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="800"></meta-data>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RadarActivity" />
        <activity android:name=".BarSingleActivity" />
        <activity android:name=".LineActivity" />
        <activity android:name=".BarMultiActivity" />
        <activity android:name=".RingActivity" />
        <activity android:name=".BaseActivity"></activity>
    </application>

</manifest>